[submodule "public"]
	path = public
	url = https://github.com/fervaldezjr/blog.git
	branch = main
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/fervaldezjr/hugo-theme-console